// A bit of nice layout
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// To ensure footer is at the bottom 
main#content {
    flex: 1;
}

// Usually for tag to be display via JavaScript
.not-displayed {
    display: none;
}